* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-size: 17px;
    text-decoration: none;
}

.logo {
    width: 115px;
    height: 34px;
}

.signup-btn {
    border: 1px solid #212832;
    /* width: 102px; */
    border-radius: 5px;
    padding: 9px 22px;
}

.nav-link {
    margin-right: 55px;
    color: #212832;
}

.language {
    border: none;
    margin-left: 42px;
}

.hero-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    height: 95vh;
    /* border: 1px solid green; */

}

.hero-left {
    width: 630px;
    /* border: 1px solid blue; */
    padding-right: 83px;

}

.hero-right {
    /* border: 1px solid red; */
    position: absolute;
    right: 0;
    z-index: -1;
}

.hero-small-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #DF6951;
    text-transform: uppercase;
    font-family: 'Poppins';
    /* font-family: Poppins; */
    font-style: normal;
}

.hero-big-text {
    font-size: 84px;
    font-weight: 700;
    line-height: 69px;
    margin-top: 24px;
}

header {
    width: 1160px;
    margin: 47px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 1160px;
    margin: 0 auto;
}


.hero-text {
    padding-right: 153px;
    margin: 30px 0 34px;
}

.hero-left-btn {
    font-size: 18px;
    font-weight: 500;
    padding: 18px 26px;
    background-color: #F1A501;
    box-shadow: 4px 4px 5px rgba(32, 24, 7, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
}

.hero-right-btn {
    font-size: 18px;
    font-weight: 500;
    padding: 18px 26px;
    box-shadow: 4px 4px 5px rgba(32, 24, 7, 0.2);
    border-radius: 10px;
    margin-left: 44px;
}

.fa-play-circle {
    color: rgb(241, 127, 85);
    font-size: 35px;
}

.bottom-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 68px;
}

.small-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
    text-transform: uppercase;
}

.big-heading {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;

}

.services-section {
    padding-top: 105px;
    position: relative;
}

.card {
    width: 267px;
    height: 314px;
    /* border: 1px solid black; */
    padding: 44px 42px;
    border-radius: 36px;
    box-shadow: 2px 4px 4px grey;

}

.plus-img {
    position: absolute;
    top: 105px;
    right: -65px;
}

.card-text {
    text-align: justify;
}

.card-h-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E1D4C;
    margin: 34px 0 15px;
}

.card-img {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
}

.dest-sml-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
    margin-bottom: 8px;
}
.dest-large-txt{
    font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 64px;
text-align: center;
text-transform: capitalize;
color: #14183E;
}
.dest-places{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.dest{
    border: 1px solid blue;
}
.dest-places-txt{
    display: flex;
}